 Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Var files
*.tfvars
*.tfvars.json

# Ignore CLI configuration files
.terraformrc
terraform.rc